{% load static %}


<!-- <div class="row"> -->

<div class="col-md-3 eq-main">
    <div class="eq-header">
        <img width="100%" class="eq" src="{% static equipe.imgUrl %}" alt="">
    </div>
    <div class="eq-box">
        <div class="eq-box-princ">
            <p class="nome">{{equipe.nome}}</p>
            <p class="categoria">{{equipe.categoria}}</p>
        </div>
    </div>
    <div class="eq-footer text-center">
        <a href="{% if equipe.twitterLink == '' %} # {% else %} {{equipe.twitterLink}} {% endif %}">
            <i class="fa fa-twitter f" aria-hidden="true"></i>
        </a>
        <a href="{% if equipe.facebookLink == '' %} # {% else %} {{equipe.facebookLink}} {% endif %}">
            <i class="fa fa-facebook f" aria-hidden="true"></i>
        </a>
        <a href="{% if equipe.googleMaisLink == '' %} # {% else %} {{equipe.googleMaisLink}} {% endif %}">
            <i class="fa fa-google-plus f" aria-hidden="true"></i>
        </a>
        <p class="" data-btn="">
            <a href="mailto:{{ equipe.email }}">
                <i class="fa fa-envelope" aria-hidden="true"></i> Envie um E-mail</a>
        </p>
    </div>
</div>

<!-- </div> -->