<div class="container-fluid" style="background-color: rgb(155, 26, 26);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <h3>Assine a nossa newsletter</h3>
                    <h5>Nós enviamos apenas atualizações e avisos importantes.</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    <button class="btn btn-primary float-right">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>