{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "static/head.html" %}
    <title>Monteiro Nascimento</title>
</head>

<body>

    <header>
        {% include "static/header.html" %}
    </header>

    <main>

        <div class="container-fluid">
            <div class="conainer">

                <div class="box-header">
                    <div class="text-center">
                        <h3>Contato</h3>
                        <div class="borda-pai">
                            <div class="borda borda-right"></div>
                            <div class="borda borda-center"></div>
                            <div class="borda borda-left"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid m-b-80">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <img width="100%" src="{% static 'img/contato_foto1.png' %}" alt="">
                        <div class="cont-img-text">
                            <p>Escritório de Aracaju - SE (Matriz)</p>
                            <p>Monteiro Nascimento Advocacia</p>
                            <p class="menor">Rua: Dr. Célcio Oliva, 55 - 13 de Julho</p>
                            <p class="menor">Telefone: +55 79 3214-0474</p>
                            <p class="menor">CEP: 49020-090</p>
                            <p class="menor">Email: contato@monteironascimento.com.br</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <img width="100%" src="{% static 'img/contato_foto2.png' %}" alt="">
                        <div class="cont-img-text">
                            <p>Escritório de Recife - PE (Filial)</p>
                            <p>Torre Janete Costa</p>
                            <p class="menor">Rua: Padre Carapuceiro, 968 - Boa Viagem</p>
                            <p class="menor">Salas: 202, 1707, 1708 | Telefone: +55 81 3326-7198</p>
                            <p class="menor">CEP: 51020-000</p>
                            <p class="menor">Email: contato@monteironascimento.com.br</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <img width="100%" src="{% static 'img/contato_foto3.png' %}" alt="">
                        <div class="cont-img-text">
                            <p>Escritório de Maceió - AL (Filial)</p>
                            <p>Norcon Empresarial</p>
                            <p class="menor">Av.: Comendador Gustavo Paiva, 1076 - Mangabeira</p>
                            <p class="menor">Telefone: +55 82 3023-3858</p>
                            <p class="menor">CEP: 57037-532</p>
                            <p class="menor">Email: contato@monteironascimento.com.br</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <img width="100%" src="{% static 'img/contato_foto4.png' %}" alt="">
                        <div class="cont-img-text">
                            <p>Escritório de João Pessoa - PB (Filial)</p>
                            <p>Empresarial Plaza Center</p>
                            <p class="menor">Av.: João Machado, 553 - Centro</p>
                            <p class="menor">Salas: 605, 606 | Telefone: +55 83 3035-5587</p>
                            <p class="menor">CEP: 58013-520</p>
                            <p class="menor">Email: contato@monteironascimento.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contato -->
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15669.94253432491!2d-37.0441001!3d-10.9266412!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27713e37b1b34dc0!2sMonteiro+Nascimento+Advogados!5e0!3m2!1spt-BR!2sbr!4v1533045934865"
                    width="100%" height="500px;" frameborder="0" style="border:0" allowfullscreen="">
                </iframe>
            </div>
        </div>

        <!-- Fale Conosco -->
        <div class="container-fluid">
            <div class="container">

                <div class="box-header">
                    <div class="text-center">
                        <h3>Fale Conosco</h3>
                        <div class="borda-pai">
                            <div class="borda borda-right"></div>
                            <div class="borda borda-center"></div>
                            <div class="borda borda-left"></div>
                        </div>
                    </div>
                </div>

                <div class="text-center m-b-20">
                    <p class="color-585858">Entre em contato com a Monteiro Nascimento Advogados, digitando-as nos espaços baixo.</p>
                </div>

                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input name="nome"type="text" class="form-control" id="" placeholder="Nome">
                        </div>
                        <div class="form-group col-md-6">
                            <input name="assunto" type="text" class="form-control" id="" placeholder="Assunto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input name="email" type="text" class="form-control" id="" placeholder="E-mail">
                        </div>
                        <div class="form-group col-md-6">
                            <input name="telefone" type="text" class="form-control" id="" placeholder="Telefone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12">
                            <textarea name="mensagem" class="form-control" name="" id="" rows="6" placeholder="Mensagem"></textarea>
                        </div>
                    </div>

                </form>

                <div class="text-center m-b-80">
                    <a style="padding-right: 35px; padding-left: 35px;" onclick="enviarForm(contato)" class="btn btn-nws" href="#">ENVIAR</a>
                </div>

            </div>
        </div>

    </main>

    <footer>
        {% include "static/footer.html" %}
    </footer>

</body>

</html>