{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "static/head.html" %}
    <title>Monteiro Nascimento</title>
</head>

<body>

    <header>
        {% include "static/header.html" %}
    </header>

    <main>

        <div class="container-fluid">
            <div class="container">

                <div class="box-header">
                    <div class="text-center">
                        <h3>EQUIPE - SÓCIOS</h3>
                        <div class="borda-pai">
                            <div class="borda borda-right"></div>
                            <div class="borda borda-center"></div>
                            <div class="borda borda-left"></div>
                        </div>
                    </div>
                </div>
                
                <!-- So vai aparecer caso venha id pram da URL -->
                {% if id %}
                    <div class="row eqp-apresentacao">
                        <div class="col-md-4 text-center">
                            <img width="100%" src="{% static equipe_id.imgUrl %}" alt="">
                            <!-- <p class="email"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Envie um Email</a></p> -->
                            <a class="email" href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Envie um Email</a>
                        </div>
                        <div class="col-md-8">
                            <h3>{{equipe_id.nome}}</h3>
                            <p>{{equipe_id.msg}}</p>
                        </div>
                    </div>
                {% endif %}

                <!-- Listagem comum do component equip -->
                <div class="row">
                    <div class="row">
                        {% for equipe in equipeList %}
                            {% include "component/equipe.component.html" with equipe=equipe %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </main>

    <footer>
        {% include "static/footer.html" %}
    </footer>

</body>

</html>