{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "static/head.html" %}
    <title>Monteiro Nascimento</title>
</head>

<body>

    <header>
        {% include "static/header.html" %}
    </header>

    <main>

        <div class="text-center bg-index-1">
            <div>
                <h1>wajfhdjfd hfjd fjdfh jdfh jd</h1>
            </div>
            <div>
                <h4>Monteiro Nascimento Advogados é uma escritório multidiscipllinar, com um grupo variado de clientes e atuação
                    nas mais diversas áreas do Direito, sobretudo no âmbito do Direito Empresarial, priorizando a ética em
                    suas relações e a permanente busca pela excelência.</h4>
            </div>
            <div class="btn-custon default">
                SAIBA MAIS
            </div>
        </div>

        <div>
            <div>

            </div>
        </div>

    </main>

    <footer>
        {% include "static/footer.html" %}
    </footer>

</body>

</html>