{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "static/head.html" %}
    <title>Monteiro Nascimento</title>
</head>

<body>

    <header>
        {% include "static/header.html" %}
    </header>

    <main>

        <div class="container-fluid bg-index-1">
            <div class="conainer">

                <div class="box-header">
                    <div class="text-center">
                        <h3>Monteiro Nascimento</h3>
                        <div class="borda-pai">
                            <div class="borda borda-right"></div>
                            <div class="borda borda-center"></div>
                            <div class="borda borda-left"></div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <p class="color-585858">Monteiro Nascimento Advogados é uma escritório multidiscipllinar, com um grupo variado de clientes e
                        atuação nas mais diversas áreas do Direito, sobretudo no âmbito do Direito Empresarial, priorizando
                        a ética em suas relações e a permanente busca pela excelência.</p>
                </div>

                <div class="text-center box-footer">
                    <div class="btn-custon default">
                        SAIBA MAIS
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="container">

                <div class="box-header">
                    <div class="text-center">
                        <h3>Atuação</h3>
                        <div class="borda-pai">
                            <div class="borda borda-right"></div>
                            <div class="borda borda-center"></div>
                            <div class="borda borda-left"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'img/atu_foto1.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lei de Família</h5>
                            <p class="card-text text-center">O direito de família envolve uma série de assuntos que geralmente são muito pessoais, únicos
                                e emocionalmente desafiadores.</p>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-danger" href="">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <footer>
        {% include "static/footer.html" %}
    </footer>

</body>

</html>