 {% load static %}

<div class="footer" class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <p>NOSSOS ESCRITÓRIOS:</p>
            <p>ARACAJU | MACEÍO | RECIFE | JOÃO PESSOA</p>
        </div>
        <div class="col-md-4">
            <P class="">
                <img width="150px" src="{% static 'img/footer_logo.png' %}" alt="">
            </P>
            <P>© 2018 - MONTEIRO NASCIMENTO</P>
        </div>
        <div class="col-md-3">
            <img style="padding-top: 45px;" class="float-right" src="{% static 'img/logo_ma9_RGB.png' %}" alt="">
        </div>
    </div>
</div>