<div class="container-fluid">
    <div class="row">
        <div class="col-12 hdr-head">

            <div style="display: inline-block;" class="paddg">
                <div class="header-contato">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <span>79 3214-0474</span>
                </div>
                <div class="header-contato">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>contato@monteironascimento.com.br</span>
                </div>
            </div>

            <div class="float-right">
                <span style="font-size: 15px; padding-right: 15px;">Redes Sociais:</span>
                <div class="header-icon paddg">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
                <div class="header-icon paddg">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="header-icon paddg">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid header-bg">
    <div class="container">
            <h1>dsfdf df s fsdf</h1>
            <h1>dsfdf df s fsdf</h1>
            <h1>dsfdf df s fsdf</h1>
            <h1>dsfdf df s fsdf</h1>
            <h1>dsfdf df s fsdf</h1>
    </div>
</div>