/* body {
    background-color: #42210b;
}

.icon-rede-social {
    color: #a08f84;
    border: solid 1px;
    display: inline-block;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 20px;
}

.logo {
    max-height: 600px;
}

.text-footer {
    color: #d3b75c;
    font-size: 14px;
}

@font-face {
    font-family: myriad_regular;
    src: url('../fonts/Myriad Pro Regular.ttf');
}

.tt {
    font-family: myriad_regular;
    font-size: 250%;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 100%;
    }
}

.img-icon {
    display: inline-block;
    margin-right: 18px;
} */

/* Header */

.hdr-head {
    background-color: #791623;
    color: #ba8b91;
    /* padding: 15px; */
}

.hdr-head i {
    font-size: 25px;
}

.hdr-head p {
    margin: 0px;
}

.paddg {
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-icon {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 1px #ba8b91;
    font-size: 120%;
}

.header-contato {
    display: inline-block;
    margin-right: 25px;
}

.header-contato i {
    margin-right: 8px;
}

.header-bg {
    background-image: url(../img/bg_header_1.png);
    /* background-repeat: no-repeat;
    background-position: center;
    width: 100%; */
}

/* Fim Header */

/* ETC... */

.btn-custon {
    border: solid 1px #000000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 120%;
    padding: 15px 90px 15px 90px;
    display: inline-block;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
}

.btn-custon.default {
    border-color: #636363;
    color: #636363;
}

.btn-custon.default:hover {
    background-color: rgba(163, 163, 163, 0.397);
    color: #ffffff;
}

/* Fim ETC... */

/* Background Images */

.bg-index-1 {
    background-image: url(../img/bg_index_1.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
}

.bg-index-2 {
    background-image: url(bg_index_1.png)
}

/*  */