/* Header */

.hdr-head {
    background-color: #791623;
    color: #ba8b91;
    /* padding: 15px; */
}

.hdr-head i {
    font-size: 25px;
}

.hdr-head p {
    margin: 0px;
}

.paddg {
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-icon {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 1px #ba8b91;
    font-size: 120%;
}

.header-contato {
    display: inline-block;
    margin-right: 25px;
}

.header-contato i {
    margin-right: 8px;
}

.header-bg {
    background-image: url(../img/bg_header_1.png);
    background-size: auto;
    /* min-height: 400px; */
    /* background-repeat: no-repeat;
    background-position: center;
    width: 100%; */
}

.main-logo {
    /* min-height: 500px; */
    padding-bottom: 10px;
}

.main-logo h1 {
    color: #ffffffd6;
    margin-top: 150px;
    margin-bottom: 150px;
}

.main-logo span {
    font-size: 20px;
    padding-left: 70%;
}

.bg-light.transparente {
    background-color: rgba(255, 255, 255, 0) !important;
}

.bg-dark.transparente {
    background-color: rgba(255, 255, 255, 0) !important;
}

.header-menu-item {
    padding-bottom: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.header-menu-item:hover {
    border-bottom: solid 5px #791623;
}

/* Fim Header */

/* Geral Min, body etc... */

body {
    font-family: 'Oswald', sans-serif;
}

/* Fim Geral */

/* ETC... */

.m-b-40 {
    margin-bottom: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-20 {
    margin-bottom: 30px;
}

.m-b-10 {
    margin-bottom: 30px;
}

.m-t-40 {
    margin-top: 30px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-20 {
    margin-top: 30px;
}

.m-t-10 {
    margin-top: 30px;
}

.btn-monteiro {
    padding: 9px 30px 9px 30px;
    color: #e4d0d3;
    background-color: #791623;
    display: inline-block;
    font-size: 15px;
    border: solid 1px black;
    cursor: pointer;
}

.btn-monteiro:hover {
    background-color: #630814;
    color: #ffffffff;
}

.btn-custon {
    border: solid 1px #000000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 120%;
    padding: 15px 90px 15px 90px;
    display: inline-block;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
}

.btn-custon.default {
    border-color: #636363;
    color: #636363;
}

.btn-custon.default:hover {
    background-color: rgba(163, 163, 163, 0.397);
    color: #ffffff;
}

.color-585858 {
    color: #585858;
}

.color-cdcdcd {
    color: #cdcdcd;
}

.color-828181 {
    color: #828181;
}

/* Fim ETC... */

/* Background Images */

.card {
    margin-bottom: 25px;
}

.card.custom{
    border: none;
    margin-bottom: 40px;
}
.card.custom .card-body{
    padding-left: 0px;
}
.card.custom h5{
    margin-bottom: 7px;
    color: #575757;
}
.card.custom .card-img-top{
    margin-bottom: 40px;
}

.bg-index-1 {
    background-image: url(../img/bg_index_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-index-2 {
    background-image: url(../img/bg_index_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-monteiro.noticia{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-top: solid 3px #791623;
    color: #575757;
}
.btn-monteiro.noticia:hover{
    color: #791623ab;
}

/* .bg-index-1 .box-header{
    margin-top: 0px;
    padding-top: 40px;
} */

/*  */

/* Box */

.box-header {
    padding-top: 40px;
    margin-bottom: 50px;
}

.box-header h3 {
    margin-bottom: 0px;
}

.box-footer {
    margin-top: 70px;
    padding-bottom: 40px;
}

/* Fim Box */

@media only screen and (max-width: 350px) {
    .main-logo h1 {
        /* color: rgb(255, 0, 119); */
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main-logo span {
        padding-left: 0px;
    }
}

.borda-pai {
    display: inline-block;
    width: 40%;
}

.borda {
    border: solid 2px #aeaeae;
    display: inline-block;
    width: 35%;
}

.borda-left {
    margin-left: -5px;
}

.borda-right {
    margin-right: -5px;
}

.borda-center {
    border-color: #791623;
    width: 30%;
}